.bodyDom {
    background-image: url(../img/color-schemes-combinations-palettes-illustration-cmyk-colors-for-print-color-palette-free-vector.jpg);
    position: relative;

    header {
        position: fixed;
        width: 100%;

        .simulatorTitle {
            background-image: url(../img/NvL.gif);
            height: 50px;
            background-size: cover;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: whitesmoke;
            font-family: 'Roboto Mono', monospace;
            opacity: 1;
            z-index: 1;

            h1 {
                font-size: 1vw;
                padding: 5px;
            }
        }

        .navBar {
            background-color: #f5ebdc;
            position: relative;
            z-index: 0;
            height: 74px;
            max-width: 100%;

          
        }
    }
}
